@import url(../css/reset.css);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.group ul,li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    
}
.group ul li a{
    display: block;
    width: 150px;
    padding: 8px 0;
    text-decoration: none;
}

#newsletter {
    color: white;
    border: rgba(0,0,0,0.1) solid 5px;
    background-image: url(../images/bg-newsletter.png);
    
}
#newsletter img{
    float: right;
    padding-bottom: 50px;
    
}

#footer{
    background-color: #ccc;
    background-image: url(../images/bg-footer.jpg);

}
.showcase .button:hover{
    background-color:  #00ACDF;
}
input[type='submit'][class='button']:hover{
    background-color: #d4326d;
}

.button {
    border-radius: 8px; and border: 2px solid white;
}
#header nav > ul{
    border-radius: 20px; and border: #ccc solid 1px;.
}
.showcase{
    box-shadow: 0 -3px 8px 0 #ccc;
    background: #f5f5f5;
}
#header nav > ul > li{
    background: white;.
}

#header{
    margin: 0 0 2em 0;
}
#header .logo{
    margin: 2.4em 0;
}
#header nav{
    margin-top: 2em;
}
#content{
    margin: 0 auto;
}
.container{
    max-width: 920px; and 
    margin: 0 auto;.
}
input[type='submit'][class='button']
{
    margin: 2em auto 1em; 
}
aside{
    margin: 0 0 2em 0;
}
aside > h3 {
    margin: 0 0 1.6em 0;
}
#content h1, #content h2, #content h3, #content 
h4{
    margin: 0 0 1.6em 0;    
}
#content p, #content ul{
    margin: 0 0 1.25em 0;
}
.sidebar blockquote{
    margin: 0.625em 0 0 0;
}
#newsletter h3{
    margin: 0 0 1em 0;
}
#newsletter label{
    margin: 1.5em 0 0 0;
}
.aside{
    margin: 0 0 2em 0;
}
.post h3{
    margin: 0 0 1em 0;
}
.post img{
    margin: 0 .5em 0 0;
}
.products{
    display: grid;
    
}